.grid-container {
  margin: auto;
  width: fit-content;
  display: grid;
  margin-top: 1rem;
}

@media (min-width: 1060px) {
  .item-container {
    margin: 0 1rem 1rem 0;
  }
}
@media (max-width: 1499px) {
  .grid-container {
    display: block;
  }
  .item-container {
    width: 100% !important;
  }
}

.item-container {
  grid-row: 4;
  width: 29rem;
  max-width: 100%;
  display: inline-block;
  text-align: center;
}

.item-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  height: 18rem;
  overflow: auto;
}

.item-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  height: 4rem;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-box:last-child {
  border: none;
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-buttons {
  display: flex;
}

.item-button {
  margin: 0 0.3rem;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  align-items: normal;
  margin-right: 1rem;
  margin-top: auto;
}

.left {
  display: flex;
}

.button {
  height: 3rem;
  margin-bottom: 1rem;
}
.form-field {
  margin-right: 1rem;
}

.card-content {
  padding: 0 !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: none;
}

.warning {
  background: rgb(244 67 54 / 60%);
  border-radius: 20px;
  padding: 6px;
}

.title{
  width: 50%;
}
